# Python-specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/
*.egg
*.eggs/

# Virtual environments
venv/
env/
.venv/
ENV/

Characters/
